alabaster==0.7.9
Babel==2.3.4
Django==1.10.3
docutils==0.13.1
image==1.5.5
imagesize==0.7.1
Jinja2==2.9.5
MarkupSafe==0.23
Pillow==3.4.2
PyAutoGUI==0.9.33
Pygments==2.2.0
PyMsgBox==1.0.3
PyScreeze==0.1.8
python-xlib==0.17
PyTweening==1.0.3
pytz==2016.10
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
